<section class="manage_articles">
   <ul class="admin_buttons">
       <a href="{{ path('app_blog_admin_add') }}"> <li><span>Add article</span></li> </a>
       <a href="{{ path('app_blog_admin_delete') }}"> <li><span>Delete article</span></li> </a>
   </ul>
</section>