.sidebar .section { margin-bottom: 20px; }
.sidebar h3 { line-height: 1.2em; font-size: 20px; margin-bottom: 10px; font-weight: normal; background: #eee; padding: 5px;  }
.sidebar p { line-height: 1.5em; margin-bottom: 20px; }
.sidebar ul { list-style: none }
.sidebar ul li { line-height: 1.5em }
.sidebar .small { font-size: 12px; }
.sidebar .comment p { margin-bottom: 5px; }
.sidebar .comment { margin-bottom: 10px; padding-bottom: 10px; }
.sidebar .tags { font-weight: bold; }
.sidebar .tags span { color: #000; font-size: 12px; }
.sidebar .tags .weight-1 { font-size: 12px; }
.sidebar .tags .weight-2 { font-size: 15px; }
.sidebar .tags .weight-3 { font-size: 18px; }
.sidebar .tags .weight-4 { font-size: 21px; }
.sidebar .tags .weight-5 { font-size: 24px; }
.chat_users .title {text-align: center; }

.user_photo {
    float:left;
    width:40px;
    height:40px;
    border-radius: 100%;
    border:1px solid black;
    margin-right: 15px;
}

.current_user {
    position: relative;
    border:1px solid lightgreen;
    margin-top: 5px;
}

.current_user:hover {
    border-color: lightsalmon;
    cursor: pointer;
}

.user_name {
    margin-top: 10px;
    margin-bottom: 0 !important;
    font-size: 2em;
}

.message_counter {
    visibility: hidden;
    position: absolute;
    float: right;
    width:30px;
    height:30px;
    border-radius: 100%;
    border:1px solid black;
    top: 20%;
    right:5%;
    background-color: darkorange;
}

.message_counter p {
    color: black;
    margin-left: 10px;
}
