{{ form_start(form, { 'action': path('app_blog_login_registry'), 'method': 'POST', 'attr': {'class': 'sing_up'} }) }}

    {{ form_widget(form) }}
<p>
    <input type="submit" value="Sing Up">
</p>
{{ form_end(form) }}