{# app/Resources/views/blog/index.html.twig #}
{% extends 'default/index.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block body %}
<p>My name is {{ name.name }}</p>
    <p>My surname is {{ name.surname }}</p>
    <p>My age is {{ name.age }}</p>
{% endblock %}


